{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.
{provider_hooks,
 [
  {pre,
   [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
   ]}
 ]}.
{port_specs, [
    {"priv/wm_x11", ["c_src/wm_x11.c"]}
]}.
{port_env, [
    {"darwin", "CFLAGS", "$CFLAGS -I/opt/X11/include -I/opt/homebrew/include"},
    {"darwin", "LDFLAGS", "$LDFLAGS -L/opt/X11/lib -L/opt/homebrew/lib -lX11"},
    {"linux", "LDFLAGS", "$LDFLAGS -lX11"}
]}.
