%% ctwm.config
{workspaces, [
    {1, <<"Terminal">>},
    {2, <<"Web">>},
    {3, <<"Code">>},
    {4, <<"Chat">>}
]}.

{colors, [
    {bg, "#222222"},
    {fg, "#eeeeee"},
    {active_border, "#00FFCC"},
    {inactive_border, "#333333"}
]}.

{keybinds, [
    {{"Mod1", "Return"}, "xterm -bg white -fg black"}
]}.
